# Ignorar configuraciones locales de NetBeans
nbproject/private/

# Ignorar directorios generados por la compilación
/build/

# Ignorar archivos específicos de NetBeans
nbproject/locks/

# Ignorar archivos temporales o de backup
*.bak
*.swp

