# Ignorar configuraciones locales de NetBeans
nbproject/private/

# Ignorar archivos generados de compilación
/build/
dist/

# Ignorar clases compiladas
*.class

# Ignorar logs, temporales y archivos de sistema
*.log
*.tmp
.DS_Store
Thumbs.db

# Ignorar otros archivos innecesarios
*.bak
*.swp
